* { margin: 0; padding: 0; box-sizing: border-box;
  
  /* Color scheme */
  
  
  --textcolor: #121212;
  --bgcolor: #fff;
  --highlight:#C21807;

}

@media (prefers-color-scheme: dark) {
  * {
    --textcolor: #dadada;
    --bgcolor: #141414;
    --highlight: #ffc400;
  }
}

body {
    font-size: 18px;
    font-family: system-ui, sans-serif;
    line-height: 1.4;
    color: #FF2400;
    background: transparent;
    position: relative;
    margin: 0 auto; /* centers the layout */
    cursor: url(images/bkDefault.cur), default;
}
.column {
  float: left;
  width: 45%;
}

.columnCards{
  float: right;
  width: 33%;
}

.columnJobs{
  float: left;
  width: 22%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.rowJobs::after{
  content: "";
  display: table;
  clear: both;
}


/* ------- Sections ------- */

section {
  padding: calc(6em + 5vw) 5vw 8vw 5vw;
  /* ! Everything below is needed ! */
  display: none;
  position: absolute;
  top: 0;
  min-height: 100vh;
  width: 100%;
  background-color: black;
  z-index: 1;
  pointer-events: all;
}

section:target { /* Show section */
  display: block;
}

section:disabled {
  display: none;
}

section#home {
  display: block;
  z-index: -10;
}


a {
    cursor: url(images/bkPointer.cur), pointer;
}
a:focus{
  color:#C21807;
}
a:visited{
  color: #48D1CC;
}
a:active{
  color: #00FFFF;
}

/* ------- Header ------- */

header {
  padding: 1vw 5vw 0 5vw;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.9);
}

header h1 {
  font-size: 1em;
  flex: 1; /* pushes nav to the right */
  white-space: nowrap;
  padding: 0 5vw .5em 0;
}

nav a:not(:last-of-type) {
  margin-right: 1.5vw;
}

/* ------- Magic Circle ------- */

.circle {
    position: absolute;
    border: solid 1px #ccc;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index:2;
    background-image: url(./images/bgCircle.jpg);
    background-position: center center;
    opacity: 0.1;
    pointer-events: none;
}

/* ------- Particles of Magic Circle ------- */



#particles-js {
    pointer-events: auto;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    z-index:    2;
    background: transparent;
    opacity: 0.5;
    top:        0; 
    left:       0; 
    position:   fixed;
}
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
}


#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

.responsive-cell-block {
  min-height: 75px;
}

* {
  font-family: Nunito, sans-serif;
}

.text-blk {

  justify-self: center;
  text-align: center;
  justify-items: center;
}



.outer-container {
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  background-color: #301934;
  justify-items: center;
  height: 100vh;
}

.heading-text {
  font-weight: 700;
  font-size: 48px;
  line-height: 35px;
  color: rgb(185, 185, 185);
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 32px;
  margin-left: 0px;
  text-align: center;
}

.sub-heading-text {
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  font-weight: 700;
  color: rgb(102, 102, 102);
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 200px;
  margin-left: 0px;
  margin: 0 0 200px 0;
}

.inner-container {
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  justify-items: center;
}

.cards-container {
  max-width: 1320px;
}

.name {
  font-size: 22px;
  line-height: 35px;
  font-weight: 700;
  color: rgb(221, 221, 221);
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.position {
  font-size: 22px;
  line-height: 35px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.team-member-image {
  width: 60%;
  align-items: center;
  align-content: center;
  justify-self: center;
  justify-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
}

.Contact{
  pointer-events: inherit;
  width: 40vw;
  text-align: center;
  font-family: "Times New Roman";
}
.text-input{
  pointer-events: inherit;
  padding-top: 6px;
  width: 100%;
  height: 70px;
}
.message{
  padding-top: 6px;
  min-height: 110px;
  width: 100%;
  box-sizing: border-box;
  font-size: x-large;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Times New Roman";
  border-radius: 10px;
  background-color: #027148;
  font-weight: 900;
  border: none;
}
.message::placeholder{
  color: black;
}
.CV{
  width: 100%;
  text-align: left;
  margin-bottom: 2%;
  font-family: "Times New Roman";
}
.button{
  width: 100%;
}
button{
  margin-top: 6%;
  width: max-content;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  min-height: 4vh;
  font-size: xx-large;
  font-weight: bold;
  background-color: lightblue;
  border-radius: 30px;
  cursor: url(images/bkPointer.cur), pointer;
}
input{
  width: 100%;
  min-height: 4vh;
  font-size: x-large;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Times New Roman";
  background-color: #027148;
  font-weight: 900;
  border: none;
}
input::placeholder{
  color: black;
}
.custom-file-upload {
  border:none;
  display: inline-block;
  padding: 6px 12px;
  cursor: bkpointer;
  background-color: darkred;
  border-radius: 20px;
  color: black;
  font-weight: bold;
  font-size: large;
  width: max-content;
  font-weight: bold;
  cursor: url(images/bkPointer.cur), pointer;
}

.linksCards{
  width: 50%;
  height: 50%;
  background-color: indigo;
  height: 30vh;
  margin-top: 10%;
  margin-bottom: 10%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transition: all .3s ease-out;
  border-radius: 20px;
  text-align: center;
}
.linksCards:hover{
  transform: scale(1.35);
  transition: all .3s ease-in;
  cursor: url(images/bkPointer.cur), pointer;
}
#links{
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0%;
}
.Links{
  margin-top: 3%;
}
Course{
  line-height: 50vh;
  font-size: x-large;
  font-weight: 900;
  color: white;
}
