* { margin: 0; padding: 0; box-sizing: border-box;
  
  /* Color scheme */
  
  --textcolor: #121212;
  --bgcolor: #fff;
  --highlight: #2749c9;

}

@media (prefers-color-scheme: dark) {
  * {
    --textcolor: #dadada;
    --bgcolor: #141414;
    --highlight: #ffc400;
  }
}

body {
  font-size: 18px;
  font-family: system-ui, sans-serif;
  line-height: 1.4;
  color: var(--textcolor);
  background: transparent;
  position: relative; 
  margin: 0 auto;  /* centers the layout */
}



/* ------- Sections ------- */

section {
  padding: calc(6em + 5vw) 5vw 8vw 5vw;
  /* ! Everything below is needed ! */
  display: none;
  position: absolute;
  top: 0;
  min-height: 100vh;
  width: 100%;
  background: transparent;
}

section:target { /* Show section */
  display: block;
}

section#home { /* Show #home by default */
  display: block;
}

/* ------- Header ------- */

header {
  padding: 5vw 5vw 0 5vw;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  z-index: 2;
}

header h1 {
  font-size: 1em;
  flex: 1; /* pushes nav to the right */
  white-space: nowrap;
  padding: 0 5vw .5em 0;
}

nav a:not(:last-of-type) {
  margin-right: 1.5vw;
}

/* ------- Magic Circle ------- */

.circle {
    position: absolute;
    border: solid 1px #ccc;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index:3;
}

/* ------- Particles of Magic Circle ------- */



#particles-js {
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    z-index:    10;
    background: transparent;
    opacity: 0.5;
    top:        0; 
    left:       0; 
    position:   fixed;
}
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}